DATA_VVM
DATA
taiwanvvm_tpe
nctool/__pycache__
nctool/_test
hw/hw1/sprec
hw/hw1/hw1.1_anim
hw/hw2/visual
Q_tools/__pycache__/__init__.cpython-312.pyc
Q_tools/__pycache__/_info_literal.cpython-312.pyc
Q_tools/__pycache__/_mpl_axplot.cpython-312.pyc
Q_tools/__pycache__/_phys_thermo.cpython-312.pyc
hw/hw3/data/Azimuth.dat
hw/hw3/data/DBZ.dat
hw/hw3/data/Elevation.dat
hw/hw3/data/Range.dat
